p {
    color: orangered;
    font-size: 2em;
    font-family: Verdana, sans-serif, Arial;
    border: 2px solid darkslateblue;
}

.firebrick-header {
    color: firebrick;
    text-decoration: underline;
    text-decoration-style: solid;
    font-family: Verdana, sans-serif, Arial;

}

