* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

}

body {
    min-height: 100vh;
    margin: auto 12px auto 12px;
    display: flex;
    flex-direction: column;
}


h1 {
   text-align: center;
}

.nav {
}

ul {
    list-style-type: none;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    background-color: lightgray;
    text-align: center;
    margin: 7px 0 7px 0;
    height: 30px;
    display: flex;
    justify-content: center;
}

.header-img {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
    margin-top: 7px;
}

.main {
    margin: 21px 0 21px 0;
}

.sub-section {
    font-style: italic;
    margin: 21px 0 7px 0;
}
/*When the body elements is set to flex and a min-height of 100vh, this line of code keep the footer sticking to the bottom of the page.*/
footer {
    margin-top: auto;
}

.hidden-on-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1pt solid lightgray;
    width: 100%;
    height: 30px;
}

@media screen and (min-width: 576px) {

    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
    }

    .nav-links li {
        background-color: transparent;
    }

    h1 {
        text-align: left;
        position: relative;
        top: 35px

    }

    .nav-links a {
        margin: 5pt;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .sub-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 40%;
        margin: 0px 0 35px 0;
    }

    .main-sub-group {
        display: flex;
        justify-content: space-between;
    }


}
