body, html {
    height: 95%;
    width: 95%;
    padding: 1em;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

/*
According to the MDN, its a best practice to declare custom properties on the :root pseudo-class
so that it can be applied globally across the HTML document.
*/

:root {
    --the-color-of-information: lightblue;
}

:root {
    --the-color-of-success:lightgreen;
}

:root {
    --the-color-of-warnings: lightyellow;
}

:root {
    --the-color-of-errors: lightpink;
}

body {
    margin: .5em;
    border-style: solid;
    border-width: 1pt;
    border-color: black;
}

.message {
    margin: .5em;
    padding: 7px;
    border-style: solid;
    border-width: 1pt;
    border-color: black;
    border-radius: 7px;
}


/*Coded with direct color inputs*/
/*
.message-info {
    background-color: lightblue;
}

.message-success {
    background-color: lightgreen;
}

.message-warning {
    background-color: lightyellow;
}

.message-error {
    background-color:lightpink;
}
*/

/*Coded using color variables:*/

.message-info {
    background-color: var(--the-color-of-information);
}

.message-success {
    background-color: var(--the-color-of-success);
}

.message-warning {
    background-color: var(--the-color-of-warnings);
}

.message-error {
    background-color: var(--the-color-of-errors);
}

