html {
    font-family: Arial, Ubuntu, sans-serif;
}

body {
    height: 95%;
    width: 95%;
    margin: .5em;
    padding: 1em;
}

/*Coded with direct color inputs. See below for a solution using color variables*/

/*
.message-info {
    background-color: lightblue;
}

.message-success {
    background-color: lightgreen;
}

.message-warning {
    background-color: lightyellow;
}

.message-error {
    background-color:lightpink;
}
*/

.message {
    margin: .5em;
    padding: 7px;
    border-style: solid;
    border-width: 1pt;
    border-color: black;
    border-radius: 7px;
}

/*ALTERNATIVE SOLUTIONS (BONUS)*/

/*
According to the MDN, its a best practice to declare custom properties on the :root pseudo-class
so that it can be applied globally across the HTML document: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
*/

/*CODED USING COLOR VARIABLES*/

:root {
    --the-color-of-information: lightblue;
}

:root {
    --the-color-of-success:lightgreen;
}

:root {
    --the-color-of-warnings: lightyellow;
}

:root {
    --the-color-of-errors: lightpink;
}

.message-info {
    background-color: var(--the-color-of-information);
}

.message-success {
    background-color: var(--the-color-of-success);
}

.message-warning {
    background-color: var(--the-color-of-warnings);
}

.message-error {
    background-color: var(--the-color-of-errors);
}