* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.card {
    border: none;
}

.headercard {
    position: relative;
}

.headercard::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
    z-index: -1;
    background-image: url("/media/ducks_adobestock_66243687.jpeg");
    background-size: contain;
    background-position: center;
}

.skills {
    margin-left: 1em;
}